body {
  margin: 0;
  padding: 0;
  background-color: #719293;
  color: white;
  font-family: 'Menlo',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.description{
    position: absolute;
    top: 50px;
}
#particles-js{
    margin-top: 50px;
}
.header{
  display: flex;
  align-items: center;
  background-color: #00203FFF;
  justify-content: space-between;
}
.tabs{
  display: flex;
}
a{
  text-decoration: none;
  color: white;
}
.tabs p{
  margin-right: 20px;
  padding-top: 10px;
  margin-top: 0px;
  font-weight: 700;
}
.logo img{
  height:  35px;
  margin-left: 20px;
}
.description h1{
  margin: auto;
  width: 70%;
  margin-top: 20%;
  color: #00203FFF;
  font-size: 50px;
}
.input_header{
  margin-top: 30px !important;
  color: #E9E9E9;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E9E9E9;
  padding: 5px;
  border-radius: 20px;
  width: 70%;
  margin: auto;
  height: 40px;
}
.input_header button{
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
.input_header input{
  height: 40px;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  color: black;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.input_header img{
  height: 40px;
}
.desc_form{
    margin: 0 auto;
    width: 50%;
}
.desc_form img{
    height: 200px;
    border-radius: 50%;
    border: 2px solid #00203f;
}
.profile{
    display: flex;
    justify-content: space-between;
}