body {
    margin: 0;
    padding: 0;
    background-color: #719293;
    color: white;
    font-family: 'Menlo',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .header{
    display: flex;
    align-items: center;
    background-color: #00203FFF;
    justify-content: space-between;
  }
  .tabs{
    display: flex;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .tabs p{
    margin-right: 20px;
    padding-top: 10px;
    margin-top: 0px;
    font-weight: 700;
  }
  .logo img{
    height:  35px;
    margin-left: 20px;
  }

  
body{
	background-color: rgb(173, 231, 239);
	color: black !important;
}
.login{
	display: flex;
	margin: auto;
	width:  60%;
	padding: 20px;
	margin-top: 15%;
	justify-content: space-between;
	background-color: white;

}
.desc_form{
	margin-left: 30px;
	text-align: center;
}
.desc_form h1{
	text-align: center;
    padding: 5px;
	margin-bottom: 45px;
    margin-top: 50px;
}
.desc_form input{
	padding: 5px;
	margin-bottom: 10px;
	outline: none;
	width: 200px;
	border: 2px solid rgba(211, 210, 210, 0.247);
	color: gray;
	border-radius: 5px;
}