<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1bf856d9a3ca48aa943fcd332c3246f9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1bf856d9a3ca48aa943fcd332c3246f9" ></div>
        
</body>
<script>    
    
            var map_1bf856d9a3ca48aa943fcd332c3246f9 = L.map(
                "map_1bf856d9a3ca48aa943fcd332c3246f9",
                {
                    center: [32.84623000000005, -97.07833499999998],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6906fac57bd34464a0ad29f183e29e11 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1bf856d9a3ca48aa943fcd332c3246f9);
        
    
            var marker_12ba386b65ae45c196d9796b67549ab1 = L.marker(
                [32.831180000000074, -97.08472889999996],
                {}
            ).addTo(map_1bf856d9a3ca48aa943fcd332c3246f9);
        
    
            var icon_db03dcac8329492e8bb03cbc0dacc895 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_12ba386b65ae45c196d9796b67549ab1.setIcon(icon_db03dcac8329492e8bb03cbc0dacc895);
        
    
        var popup_2bfe4fb9adfe4a479cf951e03f8490e3 = L.popup({"maxWidth": "100%"});

        
            var html_a5c8f16dd7ff42119592fe987f5e1686 = $(`<div id="html_a5c8f16dd7ff42119592fe987f5e1686" style="width: 100.0%; height: 100.0%;">Name: Patrick Email: patrick@gmail.com Address: Euless Company: Google +Hobbies/Interests: Paint</div>`)[0];
            popup_2bfe4fb9adfe4a479cf951e03f8490e3.setContent(html_a5c8f16dd7ff42119592fe987f5e1686);
        

        marker_12ba386b65ae45c196d9796b67549ab1.bindPopup(popup_2bfe4fb9adfe4a479cf951e03f8490e3)
        ;

        
    
    
            marker_12ba386b65ae45c196d9796b67549ab1.bindTooltip(
                `<div>
                     Patrick
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_afbcfc48fc8c4285a72ee8c3e5fd4093 = L.marker(
                [32.831180000000074, -97.08472889999996],
                {}
            ).addTo(map_1bf856d9a3ca48aa943fcd332c3246f9);
        
    
            var icon_3e15af74fb904312bbf942f71ae592a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_afbcfc48fc8c4285a72ee8c3e5fd4093.setIcon(icon_3e15af74fb904312bbf942f71ae592a6);
        
    
        var popup_f21f1a0de9234c10b96a5e52bc1da969 = L.popup({"maxWidth": "100%"});

        
            var html_d173afb585284b8b8e3b035e7fe8c26b = $(`<div id="html_d173afb585284b8b8e3b035e7fe8c26b" style="width: 100.0%; height: 100.0%;">Name: Patrick Email: patrick@gmail.com Address: Euless Company: Google +Hobbies/Interests: Paint</div>`)[0];
            popup_f21f1a0de9234c10b96a5e52bc1da969.setContent(html_d173afb585284b8b8e3b035e7fe8c26b);
        

        marker_afbcfc48fc8c4285a72ee8c3e5fd4093.bindPopup(popup_f21f1a0de9234c10b96a5e52bc1da969)
        ;

        
    
    
            marker_afbcfc48fc8c4285a72ee8c3e5fd4093.bindTooltip(
                `<div>
                     Patrick
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_25efc28c39654010b57035bfe6f7ac29 = L.marker(
                [32.93763000000007, -97.07837999999998],
                {}
            ).addTo(map_1bf856d9a3ca48aa943fcd332c3246f9);
        
    
            var icon_e15e9794e2cc4a168fcaa3a2d7c73820 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_25efc28c39654010b57035bfe6f7ac29.setIcon(icon_e15e9794e2cc4a168fcaa3a2d7c73820);
        
    
        var popup_f8091a3b8d8b477498fcef9f636adae7 = L.popup({"maxWidth": "100%"});

        
            var html_a7ec192d21694d0d91885e51bdc38058 = $(`<div id="html_a7ec192d21694d0d91885e51bdc38058" style="width: 100.0%; height: 100.0%;">Name: Ujit Adhikari Email: uji@gmail.com Address: Grapevine Company: Google +Hobbies/Interests: Gaming</div>`)[0];
            popup_f8091a3b8d8b477498fcef9f636adae7.setContent(html_a7ec192d21694d0d91885e51bdc38058);
        

        marker_25efc28c39654010b57035bfe6f7ac29.bindPopup(popup_f8091a3b8d8b477498fcef9f636adae7)
        ;

        
    
    
            marker_25efc28c39654010b57035bfe6f7ac29.bindTooltip(
                `<div>
                     Ujit Adhikari
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7ee8547444954207964f321079e9eea0 = L.marker(
                [32.93763000000007, -97.07837999999998],
                {}
            ).addTo(map_1bf856d9a3ca48aa943fcd332c3246f9);
        
    
            var icon_d88a9223a35a46338c8cc64dda1a031a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7ee8547444954207964f321079e9eea0.setIcon(icon_d88a9223a35a46338c8cc64dda1a031a);
        
    
        var popup_75ff91f0badd423cb05fad0f93d45f66 = L.popup({"maxWidth": "100%"});

        
            var html_d02e09a75f834ad18aaee795a5786057 = $(`<div id="html_d02e09a75f834ad18aaee795a5786057" style="width: 100.0%; height: 100.0%;">Name: Ujit Adhikari Email: uji@gmail.com Address: Grapevine Company: Google +Hobbies/Interests: Gaming</div>`)[0];
            popup_75ff91f0badd423cb05fad0f93d45f66.setContent(html_d02e09a75f834ad18aaee795a5786057);
        

        marker_7ee8547444954207964f321079e9eea0.bindPopup(popup_75ff91f0badd423cb05fad0f93d45f66)
        ;

        
    
    
            marker_7ee8547444954207964f321079e9eea0.bindTooltip(
                `<div>
                     Ujit Adhikari
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8208054a9890402db1d41b42d71bce91 = L.marker(
                [32.94448500000004, -97.13018999999997],
                {}
            ).addTo(map_1bf856d9a3ca48aa943fcd332c3246f9);
        
    
        var popup_5e0159d60b4947998d292ac23e62f614 = L.popup({"maxWidth": "100%"});

        
            var html_dfd7a4624b4f47edb9af99e1ac7bc7d2 = $(`<div id="html_dfd7a4624b4f47edb9af99e1ac7bc7d2" style="width: 100.0%; height: 100.0%;">Name: Saad Email: saad@gmail.com Address: Huntington Company: Global +Hobbies/Interests: Korean</div>`)[0];
            popup_5e0159d60b4947998d292ac23e62f614.setContent(html_dfd7a4624b4f47edb9af99e1ac7bc7d2);
        

        marker_8208054a9890402db1d41b42d71bce91.bindPopup(popup_5e0159d60b4947998d292ac23e62f614)
        ;

        
    
    
            marker_8208054a9890402db1d41b42d71bce91.bindTooltip(
                `<div>
                     Saad
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0bba3efa136c458bb40505ef55e0ac1a = L.marker(
                [32.94448500000004, -97.13018999999997],
                {}
            ).addTo(map_1bf856d9a3ca48aa943fcd332c3246f9);
        
    
        var popup_3deba225cf3c4bb79f133d9bb44543d4 = L.popup({"maxWidth": "100%"});

        
            var html_878d899296b94416b01aa9b0ad22a0b2 = $(`<div id="html_878d899296b94416b01aa9b0ad22a0b2" style="width: 100.0%; height: 100.0%;">Name: Saad Email: saad@gmail.com Address: Huntington Company: Global +Hobbies/Interests: Korean</div>`)[0];
            popup_3deba225cf3c4bb79f133d9bb44543d4.setContent(html_878d899296b94416b01aa9b0ad22a0b2);
        

        marker_0bba3efa136c458bb40505ef55e0ac1a.bindPopup(popup_3deba225cf3c4bb79f133d9bb44543d4)
        ;

        
    
    
            marker_0bba3efa136c458bb40505ef55e0ac1a.bindTooltip(
                `<div>
                     Saad
                 </div>`,
                {"sticky": true}
            );
        
</script>