<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nearby</title>
	<link href="./static/css/nearby.css" rel="stylesheet" type="text/css" />
	<link href="./static/css/index.css" rel="stylesheet" type="text/css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var myIframe=document.getElementById('iframeid').reload(true);
    myIframe.src=myIframe.src;
    
    // $(document).ready(function(){
    //     $('#map').load("map")
    // });
</script>
<body>
	<div class="header">
		<a href="/index">
			<div class="logo">
				<img src="{{url_for('static', filename='logo.png')}}">
			</div>
		</a>
		<div class="tabs">
			<a href="/index">
				<p>Home</p>
			</a>
			<a href="/howItWorks">
				<p>How It Works</p>
			</a>
            {% if session %}
            <a href='/logout'>
                <p>
                    Log Out
                </p>
            </a>
            <a href='/profile'>
                <p>
                    Profile
                </p>
            </a>

        {% else %}
            <a href="/login">
                <p>LogIn</p>
            </a>

            <a href="/signup">
                <p>SignUp</p>
            </a>
        {% endif %}
		</div>
	</div>

	<div class="nearby">      
		<div class="nearby_people">
			<h2>Peoples Nearby</h2>
            <div class="peoples">
                <iframe id="iframeid" src="/map"></iframe>  
            </div>
            <!-- <div id="map"></div> -->
		</div>
        {% if is_nearby %}
            <div class="notation">
                <div class="meaning">
                    <div class="circle_red">
                        <p>A</p>
                    </div>
                    <p>Company,interest matches</p>
                </div>
                <div class="meaning">
                    <div class="circle_yellow">
                        <p>A</p>                    
                    </div>
                    <p>Interest matches</p>
                </div>
                <div class="meaning">
                    <div class="circle_green">
                        <p>A</p>
                    </div>
                    <p>Company matches</p>
                </div>
                <div class="meaning">
                    <div class="circle_blue">
                        <p>A</p>
                    </div>
                    <p>Nearby people</p>
                </div>
            </div>
        {% else %}
            <div class="notation">
                <div class="meaning">
                    <p>No one is nearby your location.</p>
                </div>
            </div>
        {% endif %}

		<div class="featured">
			<h2>Available Housings Nearby</h2>
			<div class="housings">
				<div class='packageCard' >
					<img src="https://images1.apartments.com/i2/CtTTS76zouVR5jnwP8oqRlivPJ46crWA79IG_7x1Ing/111/the-murphy-station-sunnyvale-ca-primary-photo.jpg" />
					<div class='pack'>
						<div class="packageCard_head">
							<div class="packageCard_tag">
								<p>2Bedroom</p>
								<p>1500sqft</p>
							</div>
							<div class="packageCard_image">
								<img src= "https://www.w3schools.com/howto/img_avatar.png" />
							</div>
						</div>
						<div class="dep">
							<h2>The Murphy Station</h2>
							<p>1008 E El Camino Real</p>
							<p>Sunnnyvale, CA 94087</p>
						</div>
						<div class="packageCard_footer">
							<p>$1,000 per person</p>
							<h2>More Info</h2>
						</div>
					</div>
				</div>

				<div class='packageCard' >
					<img src="https://rentpath-res.cloudinary.com/$img_current/t_3x2_jpg_xl/6e47f2de26ac672219bcf9ebc9537ed9" />
					<div class='pack'>
						<div class="packageCard_head">
							<div class="packageCard_tag">
								<p>2 Bedroom</p>
								<p>1500sqft</p>
							</div>
							<div class="packageCard_image">
								<img src= "https://www.w3schools.com/howto/img_avatar.png" />
							</div>
						</div>
						<div class="dep">
							<h2>The Murphy Station</h2>
							<p>1008 E El Camino Real</p>
							<p>Sunnnyvale, CA 94087</p>
						</div>
						<div class="packageCard_footer">
							<p>$1,000 per person</p>
							<h2>More Info</h2>
						</div>
					</div>
				</div>

				<div class='packageCard' >
					<img src="https://rentpath-res.cloudinary.com/$img_current/t_3x2_jpg_xl/6e47f2de26ac672219bcf9ebc9537ed9" />
					<div class='pack'>
						<div class="packageCard_head">
							<div class="packageCard_tag">
								<p>2 Bedroom</p>
								<p>1500sqft</p>
							</div>
							<div class="packageCard_image">
								<img src= "https://www.w3schools.com/howto/img_avatar.png" />
							</div>
						</div>
						<div class="dep">
							<h2>The Murphy Station</h2>
							<p>1008 E El Camino Real</p>
							<p>Sunnnyvale, CA 94087</p>
						</div>
						<div class="packageCard_footer">
							<p>$1,000 per person</p>
							<h2>More Info</h2>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</body>
</html>