<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile</title>
	<link href="./static/css/profile.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="header">
		<a href="/index">
			<div class="logo">
				<img src="{{url_for('static', filename='logo.png')}}">
			</div>
		</a>
		<div class="tabs">
			<a href="/index">
				<p>Home</p>
			</a>
			<a href="/howItWorks">
				<p>How It Works</p>
			</a>
            {% if session %}
            <a href='/logout'>
                <p>
                    Log Out
                </p>
            </a>
            <a href='/profile'>
                <p>
                    Profile
                </p>
            </a>

        {% else %}
            <a href="/login">
                <p>LogIn</p>
            </a>

            <a href="/signup">
                <p>SignUp</p>
            </a>
        {% endif %}
		</div>
	</div>
    
    <div class="login">
		<div class="desc_form">
			<h2>{{ name }}'s Profile</h2>
            <form method="post" action="/profile">
                <div>
                <img src={{pic}}>
            </div>
                {% if not pic %}
                    <label for="url">Image Address URL:</label>
                    <input type="text" name="url" value="">
                {% endif %}
                
                <label>Email</label>
                    <input type="email" name="email" value={{email}} placeholder="Email" />
                <label>Address</label>
                    <input type="text" name="address" value={{address}} placeholder="Street Address" />
                    <label>Zip Code</label>
                        <input type="text" name="zip_code" value={{zip_code}} placeholder="Zip Code" />
                <label>Company</label>
                    <input type="text" name="company" value={{company}} placeholder="Company you are interning for" />
                <label>Hobbies/Interests</label>
                    <input type="text" name="interests" value={{interests}} placeholder="Hobbies/Interests" />

                <input type="submit" value="Submit" />
            </form>
			
		</div>
	</div>

</body>
</html>