<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile</title>
	<link href="./static/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="header">
		<a href="/index">
			<div class="logo">
				<img src="../logo.png">
			</div>
		</a>
		<div class="tabs">
			<a href="/index">
				<p>Home</p>
			</a>
			<a href="/howItWorks">
				<p>How It Works</p>
			</a>
            {% if session %}
            <a href='/logout'>
                <p>
                    Log Out
                </p>
            </a>
            <a href='/profile'>
                <p>
                    Profile
                </p>
            </a>

        {% else %}
            <a href="/login">
                <p>LogIn</p>
            </a>

            <a href="/signup">
                <p>SignUp</p>
            </a>
            <a href='/profile'>
                <p>
                    Profile
                </p>
            </a>
        {% endif %}
		</div>
	</div>
    <div class="login">
		<div class="desc_form">
			<h2>SignUp</h2>
            <form method="post" action="/signup">
                <h3>Name</h3>
                <input type="text" name="name" value="" placeholder="Full Name" />
                <h3>Email</h3>
                <input type="email" name="email" value="" placeholder="Email" />
                <h3>Address</h3>
                <div class="address">
                    <input type="text" name="address" value="" placeholder="Street Address" />
                    <input type="text" name="zip_code" value="" placeholder="Zip Code" />
                </div>
                <h3>Company</h3>
                <input type="text" name="company" value="" placeholder="Company you are interning for" />
                <h3>Hobbies/Interests</h3>
                <input type="text" name="interests" value="" placeholder="Hobbies/Interests" />
                <h3>Preferences</h3>
                <input type="text" name="preferences" value="" placeholder="Preferences" />
                    <div class="preferences">
                        <h3>Roommates</h3>
                        <input type="text" name="roommates" value="" placeholder="How many roomates do you want?" />

                    </div>
                <input type="submit" value="Submit" />
            </form>
			
		</div>
	</div>

</body>
</html>