<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SignUp</title>
	<link href="./static/css/signup.css" rel="stylesheet" type="text/css" />
	<link href="./static/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="header">
		<a href="/index">
			<div class="logo">
				<img src="./logo.png">
			</div>
		</a>
		<div class="tabs">
			<a href="/index">
				<p>Home</p>
			</a>
			<a href="/howItWorks">
				<p>How It Works</p>
			</a>
            <a href="/login">
            	<p>LogIn</p>
            </a>
            <a href="/signup">
            	<p>SignUp</p>
            </a>
		</div>
	</div>

	<div class="login">
		<div class="image_des">
			<img src="https://www3.uwsp.edu/busecon/PublishingImages/Internships/interngroup.jpg" />
		</div>
		<div class="desc_form">
			<h2>SignUp</h2>
            <form method="post" action="/signup">
                <input type="text" name="name" value="" placeholder="Full Name" />
                <input type="email" name="email" value="" placeholder="Email" />
                <input type="password" name="password" value="" placeholder="Password" />
                <div class="address">
                    <input type="text" name="address" value="" placeholder="Street Address" />
                    <input type="text" name="zip_code" value="" placeholder="Zip Code" />
                </div>
                <input type="text" name="company" value="" placeholder="Company you are interning for" />
                <input type="text" name="interests" value="" placeholder="Hobbies/Interests" />
                <input type="submit" value="Submit" />
            </form>
			
		</div>
	</div>
</body>
</html>